$dark-charcoal: #312e2c;
$dark-raspberry: #7a284e;
$brandy-red: #854632;
$wenge-brown: #5f564d;
$eggshell: #f3e5d7;
$white-coffee: #e3ddd7;
$snow: #fff7fb;
$white: #fff;
$font-family: "Outfit", sans-serif;
$second-family: "Young Serif", sans-serif;
$font-w-s: 400;
$font-w-n: 600;
$font-w-b: 700;
